
# build directories
cmake-build-*/
build/
out/
bin/

# imgui saved state
imgui.ini

# Since ".obj" are ignored by default, we force them to be added
!assets/models/**/*.obj

# Visual Studio specific files
CMakeSettings.json
.vs/

# Clion specific files
.idea/

# Visual Studio Code specific files
.vscode/

# Screenshots
screenshots/
phase2/errors/entity-test/test-0.png
phase2/errors/entity-test/test-1.png
phase2/errors/material-test/test-0.png
phase2/errors/material-test/test-1.png
phase2/errors/mesh-test/default-0.png
phase2/errors/mesh-test/default-1.png
phase2/errors/mesh-test/default-2.png
phase2/errors/mesh-test/default-3.png
phase2/errors/mesh-test/monkey-0.png
phase2/errors/mesh-test/monkey-1.png
phase2/errors/mesh-test/monkey-2.png
phase2/errors/mesh-test/monkey-3.png
phase2/errors/pipeline-test/b-0.png
phase2/errors/pipeline-test/b-1.png
phase2/errors/pipeline-test/b-2.png
phase2/errors/pipeline-test/b-3.png
phase2/errors/pipeline-test/b-4.png
phase2/errors/pipeline-test/cm-0.png
phase2/errors/pipeline-test/dm-0.png
phase2/errors/pipeline-test/dt-0.png
phase2/errors/pipeline-test/dt-1.png
phase2/errors/pipeline-test/dt-2.png
phase2/errors/pipeline-test/fc-0.png
phase2/errors/pipeline-test/fc-1.png
phase2/errors/pipeline-test/fc-2.png
phase2/errors/pipeline-test/fc-3.png
phase2/errors/postprocess-test/test-0.png
phase2/errors/postprocess-test/test-1.png
phase2/errors/postprocess-test/test-2.png
phase2/errors/postprocess-test/test-3.png
phase2/errors/renderer-test/test-0.png
phase2/errors/renderer-test/test-1.png
phase2/errors/sampler-test/test-0.png
phase2/errors/sampler-test/test-1.png
phase2/errors/sampler-test/test-2.png
phase2/errors/sampler-test/test-3.png
phase2/errors/sampler-test/test-4.png
phase2/errors/sampler-test/test-5.png
phase2/errors/sampler-test/test-6.png
phase2/errors/sampler-test/test-7.png
phase2/errors/sky-test/test-0.png
phase2/errors/sky-test/test-1.png
phase2/errors/texture-test/test-0.png
phase2/errors/transform-test/test-0.png
